<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jstudio.chizmover"
    android:versionCode="102"
    android:versionName="1.02" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Chiz Mover"
        android:theme="@style/AppTheme"
        android:debuggable="false" >
        
        <activity 
            android:name="jstudio.chizmover.runtime.MainActivity" 
            android:enabled="true"
            android:label="Chiz Mover"
            android:screenOrientation ="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>           
    </application>

</manifest>
